/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
    line-height: 1.4;
    font-size: 16px;
}
*/

/* Link colors to match visual styling of SFU Canvas LMS (uncomment to use) */
/*
:root {
    --sidebar-name-color: #A6192E;
    --sidebar-nav-link-color--active: #A6192E;
    --sidebar-nav-link-border-color--active: #A6192E;
    --sidebar-name-margin: 1.5rem -.2rem;
    --sidebar-nav-link-font-weight--active: bold;
    --link-color: #A6192E;
    --pagination-title-color: #A6192E;
}
*/

/* Link colors to match visual styling of Moodle LMS (uncomment to use) */
/*
:root {
    --navbar-root-color--active: #0F6CBF;
    --blockquote-border-color: #0F6CBF;
    --sidebar-name-color: #0F6CBF;
    --sidebar-nav-link-color--active: #0F6CBF;
    --sidebar-nav-link-border-color--active: #0F6CBF;
    --link-color: #0F6CBF;
    --pagination-title-color: #0F6CBF;
}
*/

/* Link colors to match visual styling of Sakai LMS (uncomment to use) */
/*
:root {
    --navbar-root-color--active: #0B1660;
    --blockquote-border-color: #0B1660;
    --sidebar-name-color: #0B1660;
    --sidebar-nav-link-color--active: #0B1660;
    --sidebar-nav-link-border-color--active: #0B1660;
    --link-color: #0B1660;
    --pagination-title-color: #0B1660;
}
*/

/* CSS to better visually match Docsify pages within Sakai LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body .markdown-section {
    font-family: "Open Sans",sans-serif;
    line-height: 1.3;
    font-size: 14px;
}
*/

.sidebar-nav a, .sidebar nav a {
    overflow: visible;
    white-space: normal;
}