/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
    font-family: "Lato Extended","Lato","Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
*/

/* Link colors to match SFU branding visual styling (uncomment to use) */
/*
:root {
    --theme-color: #CC0633;
    --link-color: #CC0633;
    --link-color-hover: var(--link-color);
    --link-underline-color: #CC0633;
    --link-underline-thickness: auto;
    --link-underline-thickness-hover: var(--link-underline-thickness);
    --blockquote-border-color: #757B7F;
}
*/

/* Dark mode colours to match SFU branding visual styling for use with light + dark theme (uncomment to use) */
/*
@media (prefers-color-scheme: dark) {
:root {
    --theme-color: #EA7688;
    --link-color: #EA7688;
    --link-color-hover: var(--link-color);
    --link-underline-color: #EA7688;
    --link-underline-thickness: auto;
    --link-underline-thickness-hover: var(--link-underline-thickness);
    --blockquote-border-color: #757B7F;
    }
}
*/

/* CSS to better visually match Docsify pages within Moodle LMS (uncomment to use) */
/*
body .markdown-section {
    font-family: system-ui,sans-serif;
    line-height: 1.5;
    font-size: 15px;
}
*/

/* Link colors to match visual styling of Moodle LMS (uncomment to use) */
/*
:root {
    --theme-color: #0F6CBF;
    --link-color: #0F6CBF;
    --link-color-hover: var(--link-color);
    --link-underline-color: #0F6CBF;
    --link-underline-thickness: 0px;
    --link-underline-color-hover: #0F6CBF;
    --link-underline-thickness-hover: auto;
    --blockquote-border-color: #0F6CBF;
}
*/

/* CSS to better visually match Docsify pages within Sakai LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body .markdown-section {
    font-family: "Open Sans",sans-serif;
    line-height: 1.3;
    font-size: 14px;
}
*/

/* Link colors to match visual styling of Sakai LMS (uncomment to use) */
/*
:root {
    --theme-color: #0B1660;
    --link-color: #0B1660;
    --link-color-hover: var(--link-color);
    --link-underline-color: #0B1660;
    --link-underline-thickness: 0px;
    --link-underline-color-hover: #0B1660;
    --link-underline-thickness-hover: auto;
    --blockquote-border-color: #0B1660;
}
*/