@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #89b6e9;
    --navbar-root-color: #b2b4b4;
    --navbar-root-color--active: #89b6e9;
    --sidebar-name-color: #89b6e9;
    --sidebar-nav-link-color: #b2b4b4;
    --sidebar-nav-link-color--active: #89b6e9;
    --sidebar-nav-link-border-color--active: #89b6e9;
    --sidebar-nav-strong-color: #b2b4b4;
    --pagination-title-color: #89b6e9;
  }
}

@media (prefers-color-scheme: dark) {

  .docsifythisurlfield{
      background-color: #273338;
      color: white;
  }

  .markdown-section .docsifythisurlbuilderprimarybutton {
      color: black;
      background-color: #4bc3f4;
  }

  .markdown-section .docsifythisurlbuildersecondarybutton {
      color: black;
      background-color: #a2e8fc;
  }

  .markdown-section .docsifythisurlbuilder {
    background: #074d94;
  }

  .markdown-section  .docsifythisurlbuilder h2 {
      border-color: #93add0;
  }

}
