:root {
  --font-family: "Source Sans 3", "Helvetica Neue", Arial, sans-serif;
  --line-height: 1.4;
  --font-size: 18px;
  --font-weight: 400;
  --content-max-width: 840px;
  --heading-font-weight: 600;
  --theme-color: #0374B5;
  --link-color: #0374B5;
  --link-color-hover: var(--link-color);
  --link-underline-thickness: auto;
  --link-underline-thickness-hover: var(--link-underline-thickness);
  --blockquote-color: var(--color-text);
  --blockquote-bg: var(--color-mono-1);
  --docsifytabs-tab-color: var(--color-mono-max);
  --scroll-padding-top: 10px;
}

body {
  display: flex;
  flex-wrap: wrap; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app-nav:not(:empty) ~ main .markdown-section {
  padding-top: .25rem;
}

.active:is(:is(.app-nav-merged,.sidebar-nav) li)>a {
  font-weight: bold;
}

.pagination-item:not(:last-child) a .pagination-item-label,
.pagination-item:not(:last-child) a .pagination-item-subtitle,
.pagination-item:not(:last-child) a .pagination-item-title {
  opacity: 1 !important;
  transition: all 0.2s;
}

.pagination-item {
  color: var(--link-color);
}

.pagination-item-title {
  font-size: 1.4em !important;
}

.markdown-section {
  margin-top: 1.4rem;
}

.markdown-section blockquote {
  overflow: visible;
  margin: 1em 0;
  padding: 1em;
}

.markdown-section ul {
  list-style: square outside none;
}

.markdown-section blockquote ul {
  list-style: none;
  margin-top: 0.2em;
}

.markdown-section blockquote ul li {
  margin: 2px 0;
}

.markdown-section blockquote ul li:before {
  position: absolute;
  content: "\2B29";
  margin-left: -18px;
}

.markdown-section .button[class="button"] {
  cursor: pointer !important;
  color: var(--color-mono-min);
  height: auto !important;
  display: inline-block !important;
  padding: 10px !important;
  font-family: system-ui, sans-serif !important;
  line-height: 1.2rem !important;
  background-color: var(--link-color);
  text-decoration: none !important;
  border: 1px solid var(--link-color);
  border-radius: 0.25rem !important;
}

.markdown-section .button[class="button"]:focus {
  outline: 2px solid var(--link-color);
}

.markdown-section a.button[class="button"] {
  cursor: pointer;
  color: var(--color-mono-min);
  text-decoration: none !important;
  outline: transparent !important;
}

.markdown-section .button-secondary {
  cursor: pointer;
  color: var(--link-color);
  height: auto;
  display: inline-block;
  padding: 10px;
  font-family: system-ui, sans-serif;
  line-height: 1.2rem;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid var(--link-color) !important;
  border-radius: 0.25rem;
}

.markdown-section a.button-secondary {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: none !important;
}

.markdown-section .button-rounded {
  cursor: pointer;
  color: var(--color-mono-min);
  height: auto;
  display: inline-block;
  padding: 10px min(20px, 5%) 10px min(20px, 5%);
  font-family: system-ui, sans-serif;
  line-height: 1.2rem;
  background-color: var(--link-color);
  text-decoration: none;
  border-radius: 1.2rem;
}

.markdown-section a.button-rounded {
  cursor: pointer;
  color: var(--color-mono-min);
  text-decoration: none !important;
}

.markdown-section .button-secondary-rounded {
  cursor: pointer;
  color: var(--link-color);
  height: auto;
  display: inline-block;
  padding: 10px min(20px, 5%) 10px min(20px, 5%);
  font-family: system-ui, sans-serif;
  line-height: 1.2rem;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid var(--link-color) !important;
  border-radius: 1.4rem;
}

.markdown-section a.button-secondary-rounded {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: none !important;
}

.markdown-section .accordion {
  margin-top: 1.05rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-radius: 0.15rem;
}

.markdown-section .accordion details {
  padding: 0 1.25rem 1rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid #cccccc;
}

.markdown-section summary {
  cursor: pointer;
  color: var(--link-color);
  padding: 0;
}

.markdown-section summary h1,
.markdown-section summary h2,
.markdown-section summary h3 {
  margin: 0;
  display: inline-block;
}

.markdown-section a {
  overflow-wrap: anywhere;
}

/* Included to support earlier Markdown Schedule templates */
.markdown-section h2 .fa-fw {
  text-align: left;
}

.markdown-section figure,
.markdown-section p,
.markdown-section ol,
.markdown-section ul {
  margin: 0.75em 0em 0.5em 0em;
}

.markdown-section li:not(:last-child) {
  margin-bottom: .08em;
}

:is(.markdown-section ol,.markdown-section ul) :is(.markdown-section ol,.markdown-section ul) {
  margin-top: .08em !important;
}

.markdown-section hr {
  margin-top: 1.2rem;
}

:is(.markdown-section h6), :is(.markdown-section h6)+:not(h1,h2,h3,h4,h5) {
  font-size: 1em;
}

.markdown-section h1 {
  font-size: 1.65rem;
  line-height: 1.9rem;
  margin-top: .8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-section h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 0.7rem;
  margin-bottom: 0;
  padding-bottom: 0;
  border-style: none;
}

.markdown-section h3 {
  font-size: 1.35rem;
  line-height: 1.65rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-section h4 {
  font-size: 1.25rem;
  line-height: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-section h5 {
  font-size: 1.15rem;
  line-height: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-section h6 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-section blockquote hr {
  margin: 1em 0;
}

.markdown-section blockquote h1 {
  font-size: 1.45rem;
  line-height: 1.8rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.markdown-section blockquote h2 {
  font-size: 1.35rem;
  line-height: 1.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-style: none;
}

.markdown-section blockquote h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.markdown-section blockquote h4 {
  font-size: 1.15rem;
  line-height: 1.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.markdown-section blockquote h5 {
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.markdown-section blockquote h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.markdown-section .edit-link {
  display: inline-flex;
  align-items: center;
}

.markdown-section .edit-link .emoji {
  margin-right: 2px;
}

body .app-nav a {
  text-decoration: none;
}

body .docsify-pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin: 3em 0 1em;
  border-top: 0px solid rgba(0, 0, 0, 0.07);
}

@media only screen and (max-width: 480px) {
  .markdown-section h1 {
    font-size: 1.45rem;
    line-height: 1.8rem;
  }

  .markdown-section h2 {
    font-size: 1.35rem;
    line-height: 1.5rem;
  }

  .markdown-section h3 {
    font-size: 1.25rem;
    line-height: 1.40rem;
  }

  .markdown-section h4 {
    font-size: 1.17rem;
    line-height: 1.37rem;
  }

  .markdown-section h5 {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .markdown-section h6 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .markdown-section blockquote h1 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .markdown-section blockquote h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .markdown-section blockquote h3 {
    font-size: 1.15rem;
    line-height: 1.4rem;
  }

  .markdown-section blockquote h4 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .markdown-section blockquote h5 {
    font-size: 1.05rem;
    line-height: 1.3rem;
  }

  .markdown-section blockquote h6 {
    font-size: 1rem;
    line-height: 1.15rem;
  }
}

/* Dark mode custom colours for use with Core Dark Theme (uncomment to use, and remove @media statement and matching closing bracket for dark mode only) */
/*
@media (prefers-color-scheme: dark) {
  :root {

    --theme-color: #1BA1EE !important;
    --link-color: #1BA1EE !important;

  }
}
*/